<!doctype html>
<html lang="en" >
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="list.filterstring">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.GetItems(list.filterstring)">Narrow It Down For Me!</button>
    </div>

     <div class="form-group narrow-none">
    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="list.found" title="Food menu" on-remove="...."></found-items> -->
    <found-items items="list.found"   on-remove="list.removeItem(index)"></found-items>
    <div class="error" ng-if="list.notfound">Nothing found</div>
    </div>
</div>


</body>
</html>
